.popup-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group.full-width {
  flex: 2; /* Example: Adjust as needed for full width */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="date"],
input[type="text"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

/* Toggle Button Styles */
.toggle-button-option {
  padding: 10px 20px;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 0;
  background-color: #002345;
  color: #fff;
  margin: -1;
}

.toggle-button-option.selected {
  background-color: #b12600;
  color: #fff;
}

.toggle-button-container {
  display: flex;
}

/* Remove margin from the last button to avoid extra space */
.toggle-button-option:last-child {
  margin-right: 0;
}
