.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1200px;
  height: 100vh;
  margin: auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  flex: 2;
  margin-top: -50px; /* Ajuster l'espace en haut */
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 20px;
  background-color: #000f31;
  border-radius: 8px;
}




.form-group {
  margin-bottom: 15px;
  width: 100%; /* Ajusté à 100% pour s'adapter à la largeur du conteneur */
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555555;
}

.input-group {
  display: flex;
  align-items: center;
}



.form-buttons  {
  padding: 12px 24px;
  margin-right: 10px; /* Ajoute de l'espace entre les boutons */
  margin-top: 30px; /* Ajoute de l'espace entre les boutons */

  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #000f31;
  color: #ffffff;
  outline: none;
  margin-left: 300px;
}



@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .form-container,
  .image-container {
    margin-bottom: 20px;
  }
}

.form-group.date-and-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px; /* Ajout de l'espacement entre les champs */
}

.date-fields,
.toggle-buttons {
  display: flex;
  flex-direction: column;
  width: 45%; /* Ajuster la largeur pour équilibrer l'espacement */
}

.toggle-buttons {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacement horizontal entre les boutons */
}

.input-group input[type='date'],
.select-box,
.select-box-full-width {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  width: 100%; /* Largeur des champs de date, de la boîte de sélection et des sélecteurs */
}

.calendar-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
}

.calendar-container .options {
  width: 100%; /* Largeur du conteneur des options du calendrier */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}
.select{
  width: 25%; 
}
.option {
  margin-bottom: 15px;
}

.option span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.dx-calendar {
  width: 100%; /* Largeur du calendrier */
}

.alert-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border: 1px solid #c3e6cb;
  padding: 15px;
  width: 80%;
  max-width: 600px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.alert-container h3 {
  margin-top: 0;
  font-size: 1.2em;
}

.alert-container p {
  margin: 5px 0;
}

.alert-buttons {
  text-align: center;
  margin-top: 10px;
}

.alert-buttons button {
  background-color: #000314;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  margin-right: 10px;
}

.alert-buttons button:hover {
  background-color: #ab5b00;
}
